* {
  user-select: none;
}

#randomPassword {
  user-select: text;
}

span {
 padding: 2px;
}

hr {
  border: none;
  border-top: 1px solid #FFA500;
  margin: 10px 0;
  width: 100%;
}

textarea {
  background-color: #444;
  color: #FFA500;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
  margin-top: 10px;
  height: 150px;
}

input, textarea, select {
  user-select: text;
}

html {
  color: #FFA500;
}

body {
  font-family: sans-serif;
  background-color: #000;
  color: #FFA500;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: #FFA500;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #444;
}

.logo-icon {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 2px;
  margin: 0;
}

nav ul a {
  color: #FFA500;
  text-decoration: underline;
  padding: 10px;
  display: flex;
}

nav ul li {
  margin-right: 10px;
  padding: 2px;
}

nav ul li a {
  color: #FFA500;
  text-decoration: none;
  padding: 2px;
  display: block;
}

nav ul li a:hover {
  color: #FFD700;
  padding: 2px;
  text-decoration: underline;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
}

.sidebar-left, .sidebar-right {
  background-color: #222;
  width: 20%;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #444;
}

.sidebar-left nav ul,
.sidebar-right nav ul {
  display: block;
  padding: 0;
  margin: 0;
}

.sidebar-left nav ul li,
.sidebar-right nav ul li {
  margin-bottom: 10px;
}

.main-column {
  background-color: #333;
  padding: 20px;
  flex: 3;
  border-radius: 5px;
  border: 1px solid #333;
  box-sizing: border-box;
  overflow: hidden;
}

section {
  margin-bottom: 20px;
  color: #FFA500;
}

ul {
  padding: 1;
  margin: 10px 0;
}

ul li {
  margin: 10px 0; 
}

button, input[type="submit"], input[type="button"] {
  background-color: #FFA500;
  color: #000;
  border: 1px solid #FFA500;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: all 0.3s ease;
  margin-top: 10px;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #FFD700;
  border-color: #FFD700;
}

input, textarea {
  background-color: #444;
  color: #FFA500;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
  margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #333;
}

table th, table td {
  padding: 10px;
  border: 1px solid #444;
  text-align: left;
}

table th {
  background-color: #222;
}

table tr:nth-child(even) {
  background-color: #444;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    gap: 20px;
  }

  .sidebar-left, .sidebar-right {
    width: 100%;
    display: block;
  }

  .main-column {
    width: 100%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  h1, h2, h3 {
    font-size: 1.5em;
  }

  input, select {
    font-size: 0.9em;
  }
}

div {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #222;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.sidebar-left, .sidebar-right {
  background-color: #333;
  padding: 25px;
  border-radius: 0;
  width: 10%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.main-column {
  background-color: #333;
  padding: 25px;
  width: 60%;
  border-radius: 0;
  border: 1px solid #444;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #222;
  padding: 15px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h1 {
  margin-bottom: 15px;
  color: #FFA500;
}

section p {
  color: #FFF;
}

@media (max-width: 768px) {
  .main-column {
    width: 100%;
  }

  .sidebar-left, .sidebar-right {
    width: 100%;
    margin-bottom: 20px;
  }

  .header {
    padding: 10px;
  }
}

.form-button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.conn-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

button {
  margin: 0;
}

.message {
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #FFA500;
  max-width: 600px;
  margin: 0 auto;
}

.hljs-string, .hljs-link {
  user-select: text;
}

.author {
  display: inline-block;
  align-items: center; 
  padding: 3px;
}

.send-by-label, {
  margin-left: 3px;
  margin-right: 3px;
}

.author-action {
  display: inline-block;
}

.time {
  margin-right: 3px;
}

label {
  font-weight: normal;
}

.avatar-profile {
  width: 40px;  
  height: 40px;  
  align-items: center; 
  vertical-align: middle;
  margin-right: 8px; 
  width: 75px;
  height: 75px;
}

.avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
  color: #FFA500;
  font-weight: bold;
  margin: 0;
}

.md-mention {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal; 
  user-select: text;
}

article {
  font-size: 1.1em;
  color: #FFF;
  margin-bottom: 20px;
  font-style: italic; 
  text-align: center; 
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 3px solid #FFA500;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
}

footer div {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer a {
  background-color: #FFA500;
  color: #000;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

footer a:hover {
  background-color: #FFD700;
  border-color: #FFD700;
}

footer .btn {
  background-color: #FFA500;
  color: #000;
  padding: 8px 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

footer .btn:hover {
  background-color: #FFD700;
  border-color: #FFD700;
}

footer .btn:hover {
  background-color: #007B9F;
}

footer span {
  font-weight: bold;
  text-align: center;
  display: block; 
}

.post-preview img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.post-preview .image-container {
  max-width: 100%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

section, article, .message, .profile {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

article img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.action-button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #ff6700;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.action-button:hover {
  background-color: #e65c00;
}

#import-button {
  background-color: #4caf50;
}

#import-button:hover {
  background-color: #45a049;
}

#import-button:focus + #import-file {
  display: block;
}

.cipher-result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #000;
  color: #FFA500;
  border-radius: 5px;
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.5s ease, visibility 0s 0.5s; 
  user-select: text;
}

.cipher-result.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.encrypted-result {
  color: #FFA500;
  font-weight: bold;
}

.decrypted-result {
  color: #FFA500;
  font-weight: bold;
}

.wallet-form-button-group-center {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.wallet-balance {
  font-size: 2em;
  color: #FFA500;
  font-weight: bold;
  margin: 0;
  border-radius: 5px;
  transition: opacity 0.5s ease, visibility 0s 0.5s; 
  user-select: text;
}

.form-button-group-center {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

summary {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left; 
  margin-bottom: 10px;
  padding: 5px 0; 
  user-select: text;
}

article.content {
  text-align: left;
  padding-left: 20px;
  user-select: text;
}

article.content p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
  user-select: text;
}
